// pyxfluff 2026

@use "../../variables.scss";

@mixin inner-song-card($is-mobile) {
    .icon {
        position: relative;
        display: inline-flex;
        justify-content: space-between;

        @if $is-mobile {
            width: 8px;
            height: 8px;
        }

        @else {
            width: 13px;
            height: 13px;
        }

        span {
            width: 3px;
            height: 100%;
            background-color: #fff;
            border-radius: 3px;
            transform-origin: bottom;
            animation: bounce 2.5s ease infinite alternate;
            content: '';

            &:nth-of-type(2) {
                animation-delay: -2.5s;
            }

            &:nth-of-type(3) {
                animation-delay: -3.7s;
            }

            &:nth-of-type(4) {
                animation-delay: -1.5s;
            }
        }
    }


    .song-artwork {
        @if $is-mobile {
            width: 64px;
            height: 64px;
        }

        @else {
            width: 25%;
            height: 75%;
            padding-bottom: 25%;
        }

        flex-shrink: 0;

        background-color: #ccc;

        margin-right: 15px;
        //margin-left: 30px;
        border-radius: 8px;

        image-rendering: auto;
    }

    .song-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        text-align: left;

        justify-content: space-between;
        width: 80%;
        float: left;

        .song-title {
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;

            font-size: 1.5rem;
            font-weight: bold;

            position: relative;

            &:hover span {
                // dumb rule hack
                display: inline-block;
                padding-left: 100%;
                animation: marquee 8s linear infinite;
            }

            span {
                display: inline-block;
                min-width: 100%;
            }
        }

        .song-artist {
            font-size: 1rem;
            opacity: 0.8;
            display: block;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            position: relative;
            -webkit-mask-image: linear-gradient(to right, #000 0%, #000 calc(100% - 2rem), transparent 100%);
            mask-image: linear-gradient(to right, #000 0%, #000 calc(100% - 2rem), transparent 100%);

            span {
                display: inline-block;
                min-width: 100%;
            }

            &:hover span {
                display: inline-block;
                padding-left: 100%;
                animation: marquee 8s linear infinite;
            }
        }
    }
}
