// pyxfluff 2025

@import "./variables.scss";

@font-face {
    font-family: "Hasklug Bold";
    src: url("/fonts/HasklugNerdFont-Bold.woff2");
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Var.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/OpenSans-Italic.ttf");
}

body,
button {
    font-family: "Open Sans" !important;
}

.nerdfont {
    font-family: "Hasklug Bold";
}

// Rain
body {
    overflow: hidden;
    background: linear-gradient(to bottom, #0a0a0e, #000000);
}

.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.rain.back-row {
    display: block;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}

.drop {
    position: absolute;
    //bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 1s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 1s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    //animation: splat 0.7s linear infinite;
    display: none;
}

body.splat-toggle .splat {
    display: block;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    80% {
        opacity: 1;
        transform: scale(0);
    }

    90% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.card {
    border: 2px solid #0e0b0bcc;
    background-color: #00000048;
    backdrop-filter: blur(2rem);

    @if ($enable_card_bgs) {
        &.figma {
            border: 2px solid #ff7262cc;
            background-color: #ff726248;
        }

        &.linux,
        &.nocolor {
            border: 2px solid #0e0b0bcc;
            background-color: #00000048;
        }

        &.windows {
            border: 2px solid #0078d4ba;
            background-color: #0078d452;
        }

        &.discourse {
            border: 2px solid #fffaaebb;
            background: #fffaae5d;
        }

        &.roblox {
            border: 2px solid #019bfbbf;
            background-color: #019bfb5e;
        }

        &.cf {
            border: 2px solid #f6831fca;
            background-color: #f6831f59;
        }
    }
}
