@font-face {
    font-family: "Hasklug Regular";
    src: url("/fonts/HasklugNerdFont-Regular.woff2");
}

@font-face {
    font-family: "Hasklug Italic";
    src: url("/fonts/HasklugNerdFont-Italic.woff2");
}

@font-face {
    font-family: "Hasklug Bold";
    src: url("/fonts/HasklugNerdFont-Regular.woff2");
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Var.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/OpenSans-Italic.ttf");
}

body {
    font-family: "Open Sans";
}

//strong, h1, h2 {
//    font-family: "Hasklug Bold";
//}

lua,
python,
webdev,
js,
ts,
vsc,
arch,
kde,
nintendo,
rust,
cpp,
rb {
    font-family: "Hasklug Bold" !important;
}

// Language colors
lua {
    color: #00A2FF
}

python {
    color: #FFE262
}

webdev {
    color: #F2672C
}

js {
    color: #F0DA4E
}

ts {
    color: #3077C5
}

vsc {
    color: #1EACF7
}

nd {
    color: #0084FF
}

arch {
    color: #0F94D2
}

kde {
    color: #1D99F2
}

nintendo {
    color: #B8000E
}

rust {
    color: #F74C00
}

cpp {
    color: #185992
}

rb {
    color: #FF1645
}

// Rain
body {
    overflow: hidden;
    background: linear-gradient(to bottom, #0a0a0e, #000000);
}

.rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.rain.back-row {
    display: block;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}

.drop {
    position: absolute;
    //bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 1s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    
    100% {
        transform: translateY(100vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 1s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    //animation: splat 0.7s linear infinite;
    display: none;
}

body.splat-toggle .splat {
    display: block;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    80% {
        opacity: 1;
        transform: scale(0);
    }

    90% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
