@import url("/css/font-faces.css");

body {
    background: black;
    color: white;
}

sub,
sup {
    color: grey;
}

.left-container {
    margin: 0 2%;
    width: 800px;
}

.right-container {
    width: 800px;
}

.flexbox {
    display: flex;
    justify-content: center;
    // align-items: center;
}

.std-box {
    border: 1px solid grey;
    border-radius: 8px;

    margin-bottom: 15px;

    &.list {
        margin: 0px !important;
    }

    .header {
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 3px;

        border-bottom: 1px solid grey;
        gap: 10px;
    }

    .content {
        padding: 15px;

        &.list {
            padding-right: 5px;
            padding-bottom: 0px;
            padding-top: 0px;

            margin-right: 5px;
        }

        & sub {
            line-height: 0px;
        }

        // music
        .song-card {
            display: flex;
            align-items: center;
            justify-content: start;
            color: white;
            width: 100%;
            height: 100%;
            max-height: 150px;
            padding: 10px;

            .song-artwork {
                background-color: #ccc;
                width: 10%;
                padding-bottom: 10%;
                flex-shrink: 0;
                margin-right: 15px;
                border-radius: 8px;
            }

            .song-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;

                .song-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                    word-wrap: break-word;
                }

                .song-artist {
                    font-size: 1rem;
                    opacity: 0.8;
                    word-wrap: break-word;
                }
            }
        }

        .song-card-small {
            display: flex;
            align-items: center;
            justify-content: start;
            color: white;
            width: 65%;
            height: 45%;
            max-height: 75px;
            padding: 2.5px;

            .song-artwork {
                display: none !important; // i'll remove this if i find a way to make the covers work - thanks last.fm
                background-color: #ccc;
                width: 10%;
                padding-bottom: 10%;
                flex-shrink: 0;
                margin-right: 15px;
                border-radius: 8px;
            }

            .song-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;

                .song-title {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 5px;
                    word-wrap: break-word;
                }

                .song-artist {
                    font-size: .75rem;
                    opacity: 0.8;
                    word-wrap: break-word;
                }
            }
        }
    }

    .sep {
        height: 0px;
        width: 100%;
        border-bottom: 1px solid grey;
    }
}

a { // goodbye, 1998 web standards
    color: rgb(87, 116, 245) !important; // stop browsers from injecting a:visited
    text-decoration: none;

    img {
        width: 16px;
        height: 16px;
        color: white !important;
    }
}

h1,
h2,
h3,
p {
    margin: 10px;
}