@use "variables.scss";

// pyxfluff 2025

// Compiled imports
@import url("/css/extras.css");
@import url("/css/modules/layout.css");

// SCSS Imports

body {
    background: url(/images/background.gif);
    background-size: cover;
    background-position: center;

    image-rendering: pixelated;

    color: variables.$text-color;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    text-align: justify;

    overflow-y: scroll !important;

    &.mobile {
        overflow-y: scroll !important;

        .nav button {
            margin-bottom: 5px;
            border-radius: 8px;
        }
    }
}

a:not(.plain) {
    // goodbye, 1998 web standards
    color: rgb(87, 116, 245);
    text-decoration: none;

    img {
        width: 16px;
        height: 16px;
        color: white !important;
    }
}
