// pyxfluff 2025

$sidebar_width: 15vw;
$bg: #02020be9;
$bg_selected: #ffffff;
$enable_card_bgs: false;

// main body
$button-sel-bg: #ffffff;
$button-sel-text: #000;
$button-fg-text: #e7e7e7;
$text-color: #e7e7e7;
