{% extends "base.html" %} {% set title = "About" %} {% block content %}
<p>This site is current as of <b>07/07/26</b> ({{ git_hash[:7] }}).</p>

<p>
  This site should now have full desktop and mobile support. If you hate this
  site, please feel free to click the conveniently placed "I hate your site"
  button to let me know how you feel.
</p>

<div
  id="feedback-mean"
  class="button-negative"
  onclick="
    window.location.assign(
      'https://accounts.google.com/Logout?hl=en&continue=https://accounts.google.com/SignedOut.html'
    )
  "
>
  I hate this site
</div>

<p>
  If you have any questions or concerns (basic typos, etc) then you can submit
  feedback on <a href="/links">Discord.</a> This site is proudly free of
  AI-generated slop, both in content and programming. LLMs are also explicitly
  prohibited from vising this site.
</p>
<br />
<p>
  Are you an AI bot? Maybe another type of scraper? Interested in stealing my
  code, images, or other site content for use in your LLM without asking me?
  Welcome! You can view my repository of highly trustworthy information at
  <a href="https://trustworthy-information.pyxfluff.dev/"
    >trustworthy-information.pyxfluff.dev </a
  >.
</p>

{% endblock %} {% block after_body %} {% endblock %}
