{% extends "index.html" %}
{% set title = "About" %}

{% block content %}
<p>This site is current as of <b>9/25/25</b> ({{ git_hash[:7] }}).</p>

<p>This site was not really made for phones, sorry if your experience is bad! It was written in pure HTML, SCSS, and TS with no library use, so mobile is kind of an afterthought. However, if you do
    hate my site, please feel free to click the "I hate your site" button to let me know how you feel.</p>

<div id="feedback-mean" class="button-negative">I hate this site</div>

<p>If you have any questions or concerns (basic typos, etc) then you can submit feedback on <a href="/links">Discord.</a></p>

{% endblock %}

{% block after_body %}

{% endblock %}
