{% extends "index.html" %}
{% set title = "Home" %}

{% block content %}
<div id="old-domain">
    <h1>Welcome to <a href="https://pyxfluff.dev">pyxfluff.dev</a>!</h1>

    This is my new website. Eventually <a href="https://notpyx.me">notpyx.me</a> will be unlinked and used
    purely for email. Please update bookmarks and links to the domain. <br>

    All existing services have been renamed or split into their own domains (<a href="https://admsoftware.org">Administer</a>, <a href="https://statuspage.pyxfluff.dev">Statuspage</a>,
    etc.) Find their new locations in the Links tab.
</div>

<h3>Welcome to my corner of the Internet!</h3>

<span>
    I'm Pyx but some people may know me as darkpixlz. I'm a programmer (with about <strong>8</strong> years
    of experience), UI/UX designer,
    music enjoyer, HiFi addict, furry, privacy enthusiast, a slightly retired gamer, and more.

    I am proficient programming in <lua> Luau</lua>, <python> Python</python> (certified too!), <webdev>
        󰟬 HTML + SASS</webdev>, and <ts> TypeScript.</ts> I want to learn Rust and Go one day but I have
    not had the time to. For more information, see the Projects page. <br> <br>

    I have loved computers and everything to do with them since I was a young kid. Building them, debugging
    Nvidia drivers on Arch, tinkering, and more, which led me to programming at a
    young age using Roblox Studio, which is why I have known Luau the longest. It's still my best language
    to date due to its simplicity. <br> <br>

    I use <arch>󰣇 Arch</arch> btw with <kde> KDE Plasma
    </kde>, the best Linux desktop environment (any other opinion is wrong
    unfortunately unless you are a Waybar fan), however my servers run a mix of Arch and Fedora (ubuntu users aren't real
    linux users). I'm into drones too even if I don't get the chance to fly them
    anywhere interesting a lot of the time.<br>
    <br>


    I am somewhat of a PC gamer as well, I just don't have a graphics card good enough to play games on high
    without an unbearable FPS. I like open-world, crime, and driving games mostly.
    I have a large collection of Nintendo
    games and systems, mostly every home console since the GameCube and every handheld since the DS, with
    the best consoles being the Wii U, Wii, Switch, and 3DS. <br> <br>

    Thanks for checking my site out! Make sure to view the other tabs if you are interested in anything
    specific I mentioned here. <br> <br>

    <div id="f88x31">
        <div></div>
    </div> <br />

    <div id="f88x31_2">
        <div></div>
    </div>
</span>

{% endblock %}

{% block after_body %}
<div class="scripts scripts-home">
    <link rel="stylesheet" href="/css/modules/home.css">
    <script src="/js/badges.js"></script>
    <script src="/js/marquee.js"></script>
    <script src="/js/home.js"></script>
</div>
{% endblock %}
