{% extends "index.html" %}
{% set title = "Links" %}

{% block content %}
<h1>Links</h1>

<p>
    <strong>These are my only real accounts!!</strong>

    If you are being told to contact me via anywhere else or under different handles, you are being scammed!
    <br> <br>

    Please <a href="https://nohello.net">use common sense and do not just message me "hi!"</a>, I will just
    ignore you because bots do it.
</p>

<div class="card-container small">
    <div class="cardlist-small links">
        <a href="https://roblox.com/users/133017837/profile">
            <div class="card exp nerdfont nocolor"><img style="width: 16px; height: 16px;" src="svg/roblox.svg" type="image/svg+xml"> Roblox</div>
        </a>
        <a href="https://devforum.roblox.com/u/pyxfluff">
            <div class="card exp nerdfont nocolor"><img style="width: 16px; height: 16px;" src="svg/roblox_dev.svg" type="image/svg+xml"> DevForum</div>
        </a>
        <a href="https://meta.discourse.org/u/darkpixlz">
            <div class="card exp nerdfont nocolor"> Discourse</div>
        </a>
        <a href="https://discord.com/users/449950252397494274">
            <div class="card exp nerdfont nocolor">󰙯 Discord</div>
        </a>
        <a href="https://youtube.com/@darkpixlz">
            <div class="card exp nerdfont nocolor"> YouTube</div>
        </a>
        <a href="https://github.com/pyxfluff">
            <div class="card exp nerdfont nocolor"> GitHub</div>
        </a>
        <a href="https://last.fm/user/pyxfluff">
            <div class="card exp nerdfont nocolor"> Last.fm</div>
        </a>
        <a href="https://steamcommunity.com/id/pyxfluff">
            <div class="card exp nerdfont nocolor"> Steam</div>
        </a>
        <a href="https://bsky.app/profile/pyxfluff.dev">
            <div class="card exp nerdfont nocolor"> Bluesky</div>
        </a>
        <a href="https://t.me/pyxfluff">
            <div class="card exp nerdfont nocolor"> Telegram</div>
        </a>
        <a href="mailto:devsite@notpyx.me">
            <div class="card exp nerdfont nocolor">󰇮 Business mail</div>
        </a>
    </div>

    <div class="scripts scripts-links">
        <link rel="stylesheet" href="/css/modules/links.css">
    </div>
</div>

{% endblock %}
