{% extends "index.html" %}
{% set title = "Music" %}

{% block content %}
<h2>Music</h2>
<div class="music-display hidden">
    <center>
        <div class="embed"></div>
    </center>
</div>
<p class="subtitle">I love all things music and am always open to song recommendations! :3 <br /> Click on a
    song to hear it. All charts are monthly data, no way to change it atm.</p>

<h3>Top Songs</h3>
<div class="on-repeat">
    <div class="card-container small">
        <div class="cardlist-small" id="repeat-songs-list">

        </div>
    </div>
</div>

<h3>Top Albums</h3>
<div class="on-repeat">
    <div class="card-container small">
        <div class="cardlist-small" id="repeat-album-list">

        </div>
    </div>
</div>

<h3>May 2025 Music Challenge</h3>
<p class="subtitle">I spent 6 days rating my entire library so the one person (myself) who is interested could stop guessing. Here are the results. Everything is a personal opinion that I
    made while listening to a song, if I gave your favorite song 2 stars don't be too mad.</p>
<div class="music-challenge-holder">
    <span id="music-challenge">

    </span>
</div>

<div class="scripts scripts-projects">
    <!-- importing this for the Card type -->
    <link rel="stylesheet" href="/css/modules/projects.css">
    <link rel="stylesheet" href="/css/modules/music.css">

    <script src="/js/musicFunctions.js"></script>
</div>
{% endblock %}
