{% extends "index.html" %}
{% set title = "Projects" %}

{% block content %}
<h1>Current projects</h1>
<div class="card-container">
    <div class="card">
        <a href="https://to.admsoftware.org/git/administer">
            <div class="card-image">
                <img src="/images/project-administer.png" alt="Administer" loading="lazy">
            </div>
            <div class="card-content">
                <h2>Administer</h2>
                <p class="languages">
                    <lua class="nerdfont"> Luau</lua> • Nov '22 - Present
                </p>
                <p>Administer is a next-generation modular FOSS Roblox admin panel.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://to.admsoftware.org/to/git/aos">
            <div class="card-image">
                <img src="/images/project-appserver.png" alt="Administer AOS" loading="lazy">
            </div>
            <div class="card-content">
                <h2>Administer AOS</h2>
                <p class="languages">
                    <python class="nerdfont"> Python</python> • Jun '24 - Present
                </p>
                <p>Python-based FastAPI program for serving Administer apps, themes, metadata, and running microservices for select apps.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/pyxfluff/site">
            <div class="card-image">
                <img src="/images/project-site.png" alt="Administer App Server" loading="lazy">
            </div>
            <div class="card-content">
                <h2>This Website</h2>
                <p class="languages">
                    <webdev class="nerdfont"> HTML</webdev>, <ts class="nerdfont"> TypeScript</ts> • Jan '25
                </p>
                <p>
                    Created with <a href="https://iipython.dev">iiPython</a>'s
                    <a href="https://github.com/iipythonx/nova">Nova</a>
                    using HTML, SCSS, and TypeScript.
                </p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="https://github.com/pyxfluff/moderntheme">
            <div class="card-image">
                <img src="/images/theme.png" alt="ModernTheme" loading="lazy">
            </div>
            <div class="card-content">
                <h2>Pyx's Modern Theme</h2>
                <p class="languages">
                    <webdev class="nerdfont"> JavaScript</webdev>, <ts class="nerdfont">󰟬 SCSS</ts> • Apr '23
                </p>
                <p>
                    Modern, unibody theme for Discourse sites.
                </p>
            </div>
        </a>
    </div>
</div>

<br />
<h2>Other experience!</h2>
<p>
    This list is in no specific order and doesn't include programming languages or frameworks I may know,
    there are too many to list here.
</p>

<div class="card-container small">
    <div class="cardlist-small projects-list">
        <div class="card cf exp nerdfont">
            <div class="exp-name">&nbsp; Cloudflare</div>
            <div class="exp-background">Domain management, security, Workers, Tunnels</div>
        </div>

        <div class="card figma exp nerdfont">
            <div class="exp-name"> Figma</div>
            <div class="exp-background">UI/UX Design, Components</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> Linux</div>
            <div class="exp-background">Debian, Ubuntu, Arch, Fedora, and Raspbian system administration</div>
        </div>
        <div class="card windows exp nerdfont">
            <div class="exp-name"> Windows 10/11</div>
            <div class="exp-background">Power user, primary OS 2016-2024</div>
        </div>
        <div class="card discourse exp nerdfont">
            <div class="exp-name"> Discourse</div>
            <div class="exp-background">Power user, theme developer, Experts Program member, site administrator (2022-2023)</div>
        </div>
        <div class="card roblox exp nerdfont">
            <div class="exp-name">
                <img style="
                                width: 16px;
                                height: 16px;
                                " src="svg/roblox_dev.svg" type="image/svg+xml"></img> Roblox Studio</a>
            </div>

            <div class="exp-background">
                Developer, UI/UX Designer
            </div>
        </div>
        <div class="card cf exp nerdfont">
            <div class="exp-name"> Proxmox</div>
            <div class="exp-background">Proxmox VE Administration</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name">󰹑 Hardware</div>
            <div class="exp-background">Mostly everything computers lmao.</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> Cloud Computing</div>
            <div class="exp-background">AWS, Oracle Cloud, some smaller providers too</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> Enterprise Hardware</div>
            <div class="exp-background">Dell PowerEdge, iDRAC 7, 8, 9, HPE iLO4</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> Networking</div>
            <div class="exp-background">UnifiOS Management & configuration</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> WordPress</div>
            <div class="exp-background">WP Site Administration & management</div>
        </div>
        <div class="card linux exp nerdfont">
            <div class="exp-name"> Nginx</div>
            <div class="exp-background">Nginx proxies, some experience with NPM web managers.</div>
        </div>
    </div>
</div>
<div class="scripts scripts-projects">
    <link rel="stylesheet" href="/css/modules/projects.css">
</div>
{% endblock %}

{% block after_body %}
{% endblock %}
