// pyxfluff 2026

@use "../variables.scss";

.not-found {
    a {
        color: variables.$prominent-button-text;
        background-color: variables.$link-color;

        padding: 8px;
        border-radius: 8px;
        margin-top: 1em;

        position: relative;
        top: 1em;
    }

    padding-bottom: 2em;
}
