// pyxfluff 2026

@use "../variables.scss";

.not-found {
    svg.lucide {
        width: 48px;
        height: 48px;
    }

    a {
        color: variables.$prominent-button-text;
        background-color: variables.$link-color;

        padding: 8px;
        border-radius: 8px;
    }
}
