<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyx's corner</title>

    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/index.js"></script>

    <meta content="Pyx's Corner" property="og:title">
    <meta content="You have no reason to be here but here we are." property="og:description">
    <meta content="https://notpyx.me/images/pixelz.png" property="og:image">
    <meta content="https://notpyx.me/" property="og:url">

    <meta name="darkreader-lock" content="go_away">
</head>

<body>
    <div class="flexbox">
        <div class="left-container">
            <div class="hello-box std-box">
                <div class="header">
                    󱠡 HELLO
                </div>
                <div class="content">
                    <h1>Welcome to my site!</h1>
                    <p>I'm Pyx<sub>(or darkpixlz)</sub>, a software developer, UI/UX designer, game developer, HiFi enjoyer, sysadmin,
                        gamer, furry, dark mode enthusiast, and more.
                        Here you can find my links, more about me, and some random other goodies.
                    </p>
                </div>
            </div>

            <div class="std-box">
                <div class="header">
                     &nbsp;HOBBIES
                </div>
                <div class="content list">
                    <p>
                        I've been programming for a <i>very</i> long time. Roughly 8 years as of late 2024. Throughout that time, I've learned many languages,
                        such as <lua> Luau</lua>, <python> Python</python>, <webdev>  󰟬 HTML + SCSS</webdev>, and <js> JavaScript</js> + <ts> TypeScript.</ts>
                        I am looking to learn <rust> Rust</rust> and <cpp> C++</cpp> at some point.
                        I have a Python certificate to prove I'm not entirely stupid even though it may seem like that sometimes.
                        <br><br>
                        
                        I enjoy computing in general. Building them, using them, tinkering, and more. I'm currently on a mission to get a free <rb>󰎁 Redbox Kiosk.</rb>

                        <br> <br>

                        My preferred IDE is <vsc>󰨞 VSCode</vsc> and I am willing to fight anybody about it.
                        I use <arch>󰣇 Arch</arch> btw. <kde> KDE Plasma </kde> is the best DE. Sorry, cinnamon fans.
                        
                        <br><br>
                        
                        I am a <nd> music lover</nd> with roughly 312 albums in my collection currently. Pop, rock, alternative, altrock, and some outliers. (i like Eminem but hate other rap music)
                        My headphones are the Phillips Fidelio x3. I have a Fosi Audio DAC to get the most out of my Hi-Fi music.

                        <br><br>

                        I'm somewhat of a gamer, mostly for PC. I like open world games that give me the power to explore and do whatever I like (GTA V, Watch_Dogs2, BeamNG). I own a very large collection of
                        <nintendo>󰟡 Nintendo systems and games.</nintendo> I won't get into details for the sake of length but I have over 11 systems and too many games to count.
                        My favorite system is the Wii U with the Wii, Switch, and 3DS shortly behind. I also appreciate good Homebrew.

                        <br><br>

                        I'm also into <strong> photograhpy.</strong> I'm not very good at it because I'm never anywhere interesting enough for a good photo.
                        I usually use my phone or my drone. I enjoy flying my drone even just for fun (I'm also USI certified).
                    </p>
                </div>
            </div>

            <div class="projects-box std-box">
                <div class="header">
                     PROJECTS
                </div>
                <div class="content">
                    <p>Many of my projects which aren't revelant enough for a spot here can still be found <a href="https://github.com/pyxfluff"> on GitHub.</a></p>
                    <h2><a href="https://github.com/pyxfluff/administer">Administer</a></h2>
                    <p>Administer is an open-source admin panel for Roblox games with a modular approach. 
                        Unlike competition, you can instantly remove and add any commands you don't want.
                        <div class="std-box list">
                            <div class="header">
                                  &nbsp;LANGUAGES USED
                            </div>
                            <div class="content list">
                                <p>
                                    <lua> Luau</lua> <br>
                                    <python> Python</python>
                                </p>
                            </div>
                        </div>
                    </p>

                    <div class="sep"> </div>

                    <h2><a href="https://github.com/pyxfluff/codelet">Codelet</a></h2>
                    <p>Codelet is a web-based Roblox giveaway application with events, UGC codes, and more. It is still in active development.
                        <div class="std-box list">
                            <div class="header">
                                  &nbsp;LANGUAGES USED
                            </div>
                            <div class="content list">
                                <p>
                                    <webdev> 󰟬 HTML + SCSS</webdev> <br>
                                    <python> Python</python> <br>
                                    <js> JavaScript</js>
                                </p>
                            </div>
                        </div>
                    </p>

                    <div class="sep"> </div>

                    <h2><a href="https://github.com/pyxfluff/codelet">This Site</a></h2>
                    <p>This site was simply written in HTML and SCSS. It uses <a href="https://iipython.dev">iiPython</a>'s Nova framework, go check it out because it's cool and has saved me a ton of time.
                        The site will be open-source very soon (when i feel like it).
                        <div class="std-box list">
                            <div class="header">
                                  &nbsp;LANGUAGES USED
                            </div>
                            <div class="content list">
                                <p>
                                    <webdev> 󰟬 HTML + SCSS</webdev> <br>
                                    <js> JavaScript</js>
                                </p>
                            </div>
                        </div>
                    </p>
                </div>
            </div>

        </div>

        <div class="right-container">
            <div class="std-box">
                <div class="header">
                    󰃰 &nbsp;MY TIME
                </div>
                <div class="content">
                    It is currently <strong id="est-time">Monday, October 14th, 11:57:25 PM</strong> in my timezone (EST).
                </div>
            </div>

            <div class="std-box">
                <div class="header">
                     &nbsp;LINKS
                </div>
                <div class="content list">
                    <sub>If it's not here then it's probably not me. This is in no specific order but please only reach out via my email, Discord, or Telegram.</sub>
                    <p>
                        <a href="https://status.notpyx.me">*  Statuspage</a> <br>
                        <a href="https://roblox.com/users/133017837/profile">* <!-- For the record, I hate roblox's branding guidelines -->
                            <img style="
                            width: 16px;
                            height: 16px;
                            " src="svg/roblox.svg" type="image/svg+xml"></img> Roblox</a> <br>
                        <a href="https://devforum.roblox.com/u/pyxfluff">* <img style="
                            width: 16px;
                            height: 16px;
                            " src="svg/roblox_dev.svg" type="image/svg+xml"></img> Roblox DevForum</a> <br>
                        <a href="https://meta.discourse.org/u/darkpixlz">*  Discourse</a> <br>
                        <a href="https://discord.com/users/449950252397494274">* 󰙯 Discord</a> <br>
                        <a href="https://twitter.com/pyxfluff">*  Twitter</a> <br>
                        <a href="https://youtube.com/@darkpixlz">*  YouTube</a> <br>
                        <a href="https://github.com/pyxfluff">*  GitHub</a> <br>
                        <a href="https://last.fm/user/pyxfluff">*  Last.fm</a> <br>
                        <a href="https://steamcommunity.com/id/pyxfluff">*  Steam</a> <br>
                        <a href="https://bsky.app/profile/notpyx.me">*  Bluesky</a> <br>
                        <a href="https://t.me/pyxfluff">*  Telegram</a> <br>
                        <a href="mailto:pyxbusinesss@notpyx.me">* 󰇮 Business mail</a><sub>(Spam sent to a public blacklist)</sub>
                    </p> 
                </div>
            </div>

            <div class="std-box">
                <div class="header">
                     &nbsp;NOW PLAYING
                </div>
                <div class="content">
                    <sub>This is data pulled from LastFM. If it hasn't changed in a while it means I'm not listening to anything right now.</sub>
                    <div class="song-card">
                        <div class="song-artwork" id="song_art"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name">Song</div>
                            <div class="song-artist" id="song_meta">Artist</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="std-box">
                <div class="header">
                    󱛉 &nbsp;MISC EXPERIENCE
                </div>
                <div class="content list">
                    <sub>Some other things I know.</sub>
                    <p>
                        *  Figma <br>
                        *  Linux <br>
                        *  Windows 10/11 <br>
                        *  Discourse <br>
                        *  GIMP <br>
                        * <img style="
                            width: 16px;
                            height: 16px;
                            " src="svg/roblox_dev.svg" type="image/svg+xml"></img> Roblox Studio</a> <br>
                        * 󰦱 Unreal Engline <br>
                        * 󰚯 Unity <br>
                        * 󰹑 Hardware <br>
                        *  Cloudflare <br>
                        *  DNS Management <br>
                        *  Cloud Computing <sub>yuck</sub> <br>
                    </p> 
                </div>
            </div>

            <div class="std-box">
                <div class="header">
                     &nbsp;ON REPEAT
                </div>
                <div class="content">
                    <sub>My top songs over the past 30 days.</sub>
                    <div class="song-card-small">
                        <div class="song-artwork" id="song_art_1"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name_1">Song</div>
                            <div class="song-artist" id="song_meta_1">Artist</div>
                        </div>
                    </div>
                    <div class="song-card-small">
                        <div class="song-artwork" id="song_art_2"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name_2">Song</div>
                            <div class="song-artist" id="song_meta_2">Artist</div>
                        </div>
                    </div>
                    <div class="song-card-small">
                        <div class="song-artwork" id="song_art_3"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name_3">Song</div>
                            <div class="song-artist" id="song_meta_3">Artist</div>
                        </div>
                    </div>
                    <div class="song-card-small">
                        <div class="song-artwork" id="song_art_4"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name_4">Song</div>
                            <div class="song-artist" id="song_meta_4">Artist</div>
                        </div>
                    </div>
                    <div class="song-card-small">
                        <div class="song-artwork" id="song_art_5"></div>
                        <div class="song-info">
                            <div class="song-title" id="song_name_5">Song</div>
                            <div class="song-artist" id="song_meta_5">Artist</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="std-box">
                <div class="header">
                     &nbsp;COMMISSIONS?
                </div>
                <div class="content list">
                    <p>
                        I used to have commissions for programming all sorts of things but I had no fun doing them, so I stopped doing it.
                        Please do not contact me asking to commission me, the answer will be no.
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>