<!-- pyxfluff 2025 - 2026 -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pyx's Site - {{ title }}</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://unpkg.com/lucide@0.244.0/dist/umd/lucide.min.js"></script>

    <script
      async
      src="https://analytics.pyxfluff.dev/js/pa-M0u79TzTsUotEJg6ZjoVi.js"
    ></script>
    <script>
      ((window.plausible =
        window.plausible ||
        function () {
          (plausible.q = plausible.q || []).push(arguments);
        }),
        (plausible.init =
          plausible.init ||
          function (i) {
            plausible.o = i || {};
          }));
      plausible.init();
    </script>

    <meta property="og:title" content="Pyx's Site - {{ title }}" />
    <meta property="og:description" content="welcome to my site! :3" />
    <meta property="og:url" content="https://pyxfluff.dev" />
    <meta property="og:image" content="https://pyxfluff.dev/img/pfp_2024.png" />
    <meta property="og:type" content="website" />

    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="main-content">
      <div class="sidebar">
        <div class="button-list">
          <!-- JS looks here first -->
          <div class="profile-card pc-tall">
            <div class="banner">
              <img
                src="/images/pfp_2026.png"
                alt="Banner Image"
                class="contained-blur abs"
              />

              <img src="/images/pfp_2026.png" alt="Banner Image" class="" />
            </div>
            <div class="name-card">
              <div class="img-card">
                <img
                  src="/images/pfp_2026.png"
                  loading="lazy"
                  alt="pyxfluff"
                  class="pfp"
                />
              </div>

              <div class="text-content">
                <h3>pyxfluff</h3>
                <p>welcome! :3</p>
              </div>
            </div>
          </div>

          <div class="profile-card pc-stub">
            <div class="img-card">
              <img
                src="/images/pfp_2026.png"
                loading="lazy"
                alt="pyxfluff"
                class="pfp"
              />
            </div>

            <div class="text-content">
              <h2>pyx's site :3</h2>
            </div>
          </div>

          <div class="buttons">
            <a href="/" class="sidebar-button plain">
              <i data-lucide="home"></i>
              <span>home</span>
            </a>

            <a href="/projects" class="sidebar-button plain">
              <i data-lucide="edit-2"></i>
              <span>projects & experience</span>
            </a>

            <a href="/music" class="sidebar-button plain">
              <i data-lucide="music"></i>
              <span>music</span>
            </a>

            <a href="/links" class="sidebar-button plain">
              <i data-lucide="link"></i>
              <span>links</span>
            </a>

            <a href="/status" class="sidebar-button plain">
              <i data-lucide="server"></i>
              <span>services</span>
            </a>

            <a href="/about" class="sidebar-button plain">
              <i data-lucide="info"></i>
              <span>about</span>
            </a>
          </div>
        </div>

        <div class="sidebar-bottom">
          <!-- Music -->
          <div class="song-card">
            <div class="song-artwork" id="song_art"></div>
            <div class="song-info">
              <div class="song-title" id="song_name">
                <span>Song</span>
              </div>

              <div class="song-artist" id="song_meta">
                <span>Artist</span>
              </div>
            </div>
          </div>

          <!-- Webrings -->
          <!-- nvm i'm pretty sure this is abandoned..
                <div id='furryring'>
                    <script type="text/javascript" src="https://furryring.neocities.org/onionring-variables.js"></script>
                    <script type="text/javascript" src="https://furryring.neocities.org/onionring-widget.js"></script>
                </div>
                -->

          <a href="https://github.com/pyxfluff/site">
            <span class="nerdfont"></span>
            <i>{{ git_hash[:7] }} &bullet;</i>
          </a>
        </div>
      </div>

      <div id="contentBody">{% block content %}{% endblock %}</div>
    </div>

    <div id="after-content">
      <script src="/js/index.js"></script>

      {% block after_body %}{% endblock %}
    </div>
  </body>
</html>
