// pyxfluff 2025

@use "../variables.scss";

body {
    margin: 0;
    min-height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    .main-content {
        display: flex;
        border-radius: 18px;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0, 0, 0, .5);

        width: 95vw;
        max-height: 98vh;
        overflow-y: auto;

        transition: all .2s ease;

        .sidebar {
            max-width: variables.$sidebar_width;
            width: variables.$sidebar_width;
            min-width: 0;

            padding: 1rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background: variables.$bg;
            backdrop-filter: blur(1rem);

            // Buttons
            .profile-card {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
                height: 64px;

                background-clip: padding-box;

                border: 4px solid variables.$bg;
                border-radius: 18px;
                background-color: variables.$bg;

                img {
                    image-rendering: auto !important;
                    aspect-ratio: 1;
                }

                .img-card {
                    width: 60px;
                    height: 60px;
                    padding: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        margin: 0;
                    }
                }

                .text-content {
                    display: flex;
                    flex-direction: column;

                    float: left;

                    h2 {
                        margin: 0;
                    }
                }
            }


            .button-list {
                .sidebar-button {
                    background: variables.$bg;
                    border: 5px solid variables.$bg;

                    border-radius: 8px;
                    margin-top: 5px;

                    color: variables.$button-fg-text !important;
                    transition: all .2s linear;

                    background-clip: padding-box;

                    a {
                        text-decoration: none;
                        color: variables.$button-fg-text
                    }

                    &:hover,
                    &.selected {
                        border: 7px solid variables.$button-sel-bg;
                        background: variables.$button-sel-bg;

                        a,
                        * {
                            // gotta target the <i> too
                            color: variables.$button-sel-text !important;
                        }
                    }
                }

                margin-bottom: 90%
            }

            .sidebar-bottom {
                i {
                    color: grey;
                    font-size: smaller; // yes i use `smaller`
                }

                #furryring {
                    max-width: variables.$sidebar_width
                }

                // Old gross code (sorry)
                .song-card {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin: 0 auto;
                    width: 90%;
                    max-width: 90%;

                    background: variables.$bg;
                    border: 5px solid variables.$bg;
                    border-radius: 8px;
                    color: variables.$button-fg-text !important;
                    transition: all .2s linear;

                    &:hover,
                    &.selected {
                        border: 7px solid variables.$button-sel-bg;
                        background: variables.$button-sel-bg;
                        color: variables.$button-sel-text !important;
                    }

                    .icon {
                        position: relative;
                        display: inline-flex;
                        justify-content: space-between;
                        width: 13px;
                        height: 13px;

                        span {
                            width: 3px;
                            height: 100%;
                            background-color: #fff;
                            border-radius: 3px;
                            transform-origin: bottom;
                            animation: bounce 2.5s ease infinite alternate;
                            content: '';

                            &:nth-of-type(2) {
                                animation-delay: -2.5s;
                            }

                            &:nth-of-type(3) {
                                animation-delay: -3.7s;
                            }

                            &:nth-of-type(4) {
                                animation-delay: -1.5s;
                            }
                        }
                    }


                    .song-artwork {
                        width: 25%;
                        padding-bottom: 25%;
                        flex-shrink: 0;

                        background-color: #ccc;

                        margin-right: 15px;
                        border-radius: 8px;

                        image-rendering: auto;
                    }

                    .song-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-grow: 1;
                        text-align: left;

                        justify-content: space-between;
                        width: 80%;
                        float: left;

                        .song-title {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;

                            font-size: 1.5rem;
                            font-weight: bold;

                            position: relative;

                            &:hover span {
                                // dumb rule hack
                                display: inline-block;
                                padding-left: 100%;
                                animation: marquee 8s linear infinite;
                            }

                            span {
                                display: inline-block;
                                min-width: 100%;
                            }
                        }

                        .song-artist {
                            font-size: 1rem;
                            opacity: 0.8;
                            display: block;
                            white-space: nowrap;
                            max-width: 100%;
                            overflow: hidden;
                            position: relative;

                            span {
                                display: inline-block;
                                min-width: 100%;
                            }

                            &:hover span {
                                display: inline-block;
                                padding-left: 100%;
                                animation: marquee 8s linear infinite;
                            }
                        }
                    }
                }
            }
        }

        #contentBody {
            flex: 1;
            padding: 2rem;

            background: #02020bac;
            backdrop-filter: blur(1rem);

            overflow-y: auto;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
